body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.hidden
{
	display : none;
}

.symptomsTable
{
	border-collapse: collapse;
	width: 100%;
}

.symptomsTable th, td 
{
   border: 1px solid black;
} 

.symptomsTable th
{
	text-align: center;
	font-weight:bold;
} 

.symptomButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f4f8fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f4f8fc;
	box-shadow:inset 0px 1px 0px 0px #f4f8fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #639acd), color-stop(1, #528bbd) );
	background:-moz-linear-gradient( center top, #639acd 5%, #528bbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#639acd', endColorstr='#528bbd');
	background-color:#639acd;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #fafafa;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:29px;
	line-height:29px;
	width:300px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #639acd;
}
.symptomButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #528bbd), color-stop(1, #639acd) );
	background:-moz-linear-gradient( center top, #528bbd 5%, #639acd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#528bbd', endColorstr='#639acd');
	background-color:#528bbd;
}.symptomButton:active {
	position:relative;
	top:1px;
}

.imageLinkIcon 
{
	padding: 2px 0px;
}

#datePickingDiv {
font-size:20pt;
}

.ui-datepicker .ui-datepicker-header
{
	background: #639acd;
}


.checkbox-inline 
{
	width: 200px;
	float: left;
}

.manageSymptomSpecialtiesButtons 
{
	clear:both;
	padding-top: 30px;
} 

.checkBoxRight
{
	float: right;
}

.fc-event-inner
{
	cursor: pointer;
}

#lowDangerButton.selectedFlag
{
  background-color: #A1EB86;
}

#mildDangerButton.selectedFlag
{
  background-color: #CCCA52;
}

#highDangerButton.selectedFlag
{
  background-color: #F25138;
}

.lowDiagnosis
{
	color: #A1EB86;
}

.mildDiagnosis
{
	color: #CCCA52;
}

.highDiagnosis
{
	color: #F25138;
}

.noDiagnosis
{
	color: #C5C7BD;
}

.buttonLeft
{
	float: left;
}

.hiddenDiv
{
	display: none;
}

#manageRequestsLink.notification a
{
	color:red;
}

#alertImg
{
	display: inline;
	display: none;
}


.fc-header .fc-header-left 
{
	width: 10%;
	text-align: center; 
}

.fc-header .fc-header-right 
{
	width: 10%;
	text-align: center; 
}

.fc-button.fc-button-prev.ui-state-default.ui-corner-left.ui-corner-right
{
	margin-top: 7px;
	margin-bottom: 7px;
}

.fc-button.fc-button-next.ui-state-default.ui-corner-left.ui-corner-right
{
	margin-top: 7px;
	margin-bottom: 7px;
}

html body
{
	background: none repeat scroll 0 0 #efefef;
    color: #555;
    font: 10pt Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}

body #page.container 
{
	width:1050px;
	margin:0 auto;
}

#addSymptomLabel
{
	text-align: center;
}

#symptomSelectDiv
{
	margin-left: 5px;
}

#selectedSymptomDiv
{
	text-align: center;
}

#datePickingDiv
{
	height:200px;
}

#addSpecialtiesLabel
{
	width: 50%;
}

#symptomSpecialtiesCategoryDiv
{
	width:50%;
}

#DoctorSymptomSpecialties_symptomCode label
{
    border-bottom: 1px solid black;
}

.floatLeftDiv
{
	float:left;
}

.floatRightDiv
{
	float:right;
}

#sideSymptomInstructions
{
	border:hidden;
}

#sideSymptomInstructions tr td
{
	 border:hidden;
}


#noDiagnosisCell
{
	background-color: #36c;
	color: #36c;
}

#lowDiagnosisCell
{
	background-color: #A1EB86;
	color: #A1EB86;
}

#mildDiagnosisCell
{
	background-color: #CCCA52;
	color: #CCCA52;
}

#highDiagnosisCell
{
	background-color: #F25138;
	color: #F25138;
}

div.colorCell
{
	width: 100%;
	height: 70%;
	border-radius: 25px;
}

.checkAllBoxLabel
{
	color:black;
}