body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.hidden
{
	display : none;
}

.symptomsTable
{
	border-collapse: collapse;
	width: 100%;
}

.symptomsTable th, td 
{
   border: 1px solid black;
} 

.symptomsTable th
{
	text-align: center;
	font-weight:bold;
} 

.symptomButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f4f8fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f4f8fc;
	box-shadow:inset 0px 1px 0px 0px #f4f8fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #639acd), color-stop(1, #528bbd) );
	background:-moz-linear-gradient( center top, #639acd 5%, #528bbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#639acd', endColorstr='#528bbd');
	background-color:#639acd;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #fafafa;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:29px;
	line-height:29px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #639acd;
}
.symptomButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #528bbd), color-stop(1, #639acd) );
	background:-moz-linear-gradient( center top, #528bbd 5%, #639acd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#528bbd', endColorstr='#639acd');
	background-color:#528bbd;
}.symptomButton:active {
	position:relative;
	top:1px;
}

.imageLinkIcon 
{
	padding: 2px 0px;
}

#datePickingDiv {
font-size:20pt;
}

.ui-datepicker .ui-datepicker-header
{
	background: #639acd;
}


.checkbox-inline 
{
	width: 200px;
	float: left;
}

.manageSymptomSpecialtiesButtons 
{
	clear:both;
} 

.checkBoxRight
{
	float: right;
}

.fc-event-inner
{
	cursor: pointer;
}

.grid-view tr.odd
{
	cursor: pointer;
}

.grid-view tr.even
{
	cursor: pointer;
}

#lowDangerButton .selectedFlag
{
  background-color: #639acd;
}


.btn-default
{
	background-color: red;
}